/* novo */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(189, 176, 199);
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    transition: background-color 0.5s ease;
}
.p-3{
    background-color: rgb(228, 218, 218);
}
/* header */
ul{
    list-style-type: none;
    padding-left: 10px;
    display: flex;
    font-size: 20px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
}

#logo {
    width:50px ;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menu2 {
    position: relative;
    width: 50px;
    padding-right: 18px;
    top: 5px;
    cursor: pointer;
} 

/* carrossel */
.container {
    position: relative;
    text-align: center;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
}

.mySlides img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.numbertext {
    position: absolute;
    top: 0;
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.column {
    flex: 25%;
    padding: 0 4px;
}

.demo {
    opacity: 0.6;
}

.active,.demo:hover {
    opacity: 1;
}

#main{
    display: flex;
}


/* foooter */

footer {
    text-align: center;
    background-color: rgb(232, 212, 252);
    padding: 20px 0;
}

.footer h4 {
    margin-bottom: 12px;
}

.footer ul {
    padding: 0;
    justify-content: center;
}

.footer ul li {
    margin: 0 10px;
}

.social {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footer h5 {
    margin-top: 12px;
}