*{
    margin: 0;
}
body{
    background-color: rgb(189, 176, 199);
    font-family: 'Franklin Gothic Medium';
    transition: background-color 0.5s ease;

}

.carousel-item {
    height: 31rem;
}

ul{
    list-style-type: none;
    padding-left: 10px;
    display: flex;
}

#logo {
    width:50px ;
}
.menu2 {
    width: 40px;
    padding-right: 18px;
    cursor: pointer;
} 

section #info{
    display: flex;
    justify-content: space-between;
}

/* texto card */
p{
    padding-top: 9px;

}

#bem-vindo{
    text-align: center;
    padding-bottom: 15px;
    font-weight: lighter;
}

h3{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    font-weight: lighter; 
}

#imagem-card{
    width: 207px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.flex-container{
    display: flex;
    background-color: rgb(116, 100, 119);
    justify-content: center;
}
.flex-container div{
    background-color: rgb(244, 225, 252);
    padding: 15px;
    margin: 15px;
    line-height: 20px;
    font-size: 20px;
    border-radius: 5px;
} 

.grid-container{
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    place-content: center;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px;
    padding: 18px;
    font-size: 15px;
    text-align: center;
}
.grid-item h3{
    background-color: rgb(214, 80, 255);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
} 

.grid-item img{
    width: 205px;
} 

#imagem-card-1{
    width: 210px;
}
#imagem-card-2{
    width: 216px;
}
#imagem-card-3{
    width: 210px;
}
#imagem-card-5{
    width: 222px;
}
#imagem-card-6{
    width: 215px;
}
#imagem-card-7{
    width: 214px;
}
#imagem-card-8{
    width: 210px;
}
#imagem-card-9{
    width: 214px;
}
#imagem-card-10{
    width: 215px;
}
#imagem-card-11{
    width: 208px;
}
#imagem-card-12{
    width: 217px;
}
#imagem-card-13{
    width: 216px;
}
#imagem-card-14{
    width: 216px;
}
#imagem-card-16{
    width: 212px;
}
#imagem-card-17{
    width: 215px;
}
#imagem-card-18{
    width: 222px;
}
#imagem-card-19{
    width: 215px;
}
#imagem-card-20{
    width: 215px;
}

.grid-item h3:hover{
    transform: scale(1.1)
} 

/* footer */
footer {
    text-align: center;
    background-color: rgb(232, 212, 252);
    padding: 20px 0;
}

.footer h4 {
    margin-bottom: 12px;
}

.footer ul {
    padding: 0;
    justify-content: center;
}

.footer ul li {
    margin: 0 10px;
}

.social {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footer h5 {
    margin-top: 12px;
}
